*.swp
*.swo
site/*
*.ucdb
covhtmlreport/*
work/*
transcript
*.ini
*.wlf
*.vstf
wlft*
*nfs*
*.sig
*.dtb
*.dasm
build/*
/tmp*
*.dasm
/Bender.local
build/
*.vcd
*.fsdb
*.log
*.out
*.jou
*.o
uart
work-ver/*
stdout/
work-dpi/
work-*/*
install/
xrun_results/
__pycache__
.bender/
Bender.lock
